* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 /*Etiqueta fija*/
/*INICIO*/
#contenedor1 {  
	width: 100%;
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    position: fixed;
    margin: 0px;   
}
.subconte{
	width: 30%;
	height: 60px;
	background-color: #232E7C;
   



}
.subconte-medio{
	width: 40%;
	height: 60px;
	background-color: #232E7C;



}
.h1-medio{
  margin: 7px;
  font-size: 40px;
    text-align: center;
    color: orange;

    
}
.h1-conte{
    text-decoration: none; 
	
    margin: 20px 0 0 20px;

	font-size: 25px;
	color: white;
    
  
 


}                                    /*Redes sociales*/
.rs{
 
	float: right;
	margin: 10px 20px 0 0;
	color: white;
    

}
.rs:hover{
	color: black;
}
/*FIN*/

                                                  /*MENU DE NAVEGACION 
(nav)Caja principal*/



nav{/* color de fondo*/ 
    background-color: white;  
    width: 100%;
    text-align: center; 
	margin: 0px 150px 0px 150px;
	padding: 10px;
  


}
nav ul { /*se le quita los punto negros*/
    list-style-type: none;
    margin: 0; 
    padding: 0;   
}
nav > ul { /*para pornerlo de manera horizontal*/
    display: flex;
    flex-direction: row;  
}
nav > ul > li {
    width: 20%;
 
}
nav a { /*tamaño, color y mas carateristicas dentro de (a)*/
    text-decoration: none; 
     color: #232E7C;
     display: block;   /*para que cubran el tamaño de sus contenedor*/
     padding: 5px;
     font-family: Geneva, sans-serif;
}
nav > ul > li > ul { /* se ocultan las listas */
    display: none;
}
nav > ul > li:hover > ul { /* luego para que vuelva aparecer*/
    display: block;   
    position: absolute;
    background-color: white;
}
nav > ul > li > ul { /* para que que los sub menu tenga el mismo ancho*/
    width: 19%; 
}
nav a:hover {
    color: #3964AF;
    background: rgb(227, 227, 255);
    animation: 1s ms 1;
} 
@keyframes ms {
    0%{
        opacity: 0;
        transform: scale(1.6);

    }
/*Fin*/

}




 /* (div)CAJA PRINCIPAL*/                      /* CAJA PRINCIPAL2*/                                                            
 #contenedor2 {

    padding: 100px 0 0 0;
   text-align: center;
   width:70%;
   margin: 0px auto;
   background-color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 
   

}

/*Inicio*/                                       /*CABESERA*/                                         
header{
   width: 100%;
   height: 500px;
   
  
}
.img-header{
    width: 100%;
    height: 500px;
}



#izquierda{
    width: 49%;
    text-align: center;   
    margin:20px auto;
    border: 5px double orange;


  
}
#texto{
    text-align: center;
   
  
}
.letra1{
    color: #232E7C;
    font-family:  monospace;

    padding:5px 0;
}
.izq{
    padding:7px 0;    
}
input{
    width: 60%;
    height: 20px;

}
.a123{
    margin: 30px auto;
    width: 20%;
}

     /*PIE DE PAGINA*/            

.restauran2{/*INICIO*/ 
 width: 100%;
 margin: 20px auto;
background-color:#232E7C;
background-image: url(fondo.jpg);
display: flex;
flex-direction: row;
flex-wrap: wrap;
border: 2px outset #232E7C;  
height: 150px;        
}
.sub-restauran22{
width: 30%;  
height: 100%;
color: white; 
}
.sub-restauran23{
width: 30%;  
height: 100%;
color: white;  
justify-content: center;
}
.h1-pie{
margin: 10px 0 10px 0;
}
.rs-pie{
width: 100%;
height: 60px;
}
.rs-2{
float: right;
margin: 10px 30px 0 0;
color: white;
}
.rs-2:hover{
color: black;
}
.sub-restauran24{
width: 40%;  
height: 100%;
color: white;
}
.parrafo1{
text-align: left;
margin: 0 0 0 20px;
}



