* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 
  
  
 }
 body {
     background-color: black;

 }


 #contenedor1 {  
	width: 100%;
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    position: fixed;
}
.subconte{
	width: 50%;
	height: 60px;
	background-color: #232E7C;


}
.h1-conte{
	padding: 5px 0 0 0;
	padding: 10px 0 0 0;
    margin: 0 0 0 50px;
	width: 50%;
    height:100%;
	font-size: 30px;
	color: white;


}
.rs{
	float: right;
	margin: 10px 20px 0 0;
	color: white;

}
.rs:hover{
	color: black;
}


                                                  /*MENU DE NAVEGACION 
(nav)Caja principal*/



nav{/* color de fondo*/ 
    background-color: white;  
    width: 100%;
    text-align: center; 
	margin: 0px 150px 0px 150px;
	padding: 10px;
   


}
nav ul { /*se le quita los punto negros*/
    list-style-type: none;
    margin: 0; 
    padding: 0;   
}
nav > ul { /*para pornerlo de manera horizontal*/
    display: flex;
    flex-direction: row;  
}
nav > ul > li {
    width: 20%;
 
}
nav a { /*tamaño, color y mas carateristicas dentro de (a)*/
    text-decoration: none; 
     color: #232E7C;
     display: block;   /*para que cubran el tamaño de sus contenedor*/
     padding: 5px;
     font-family: Geneva, sans-serif;
}
nav > ul > li > ul { /* se ocultan las listas */
    display: none;
}
nav > ul > li:hover > ul { /* luego para que vuelva aparecer*/
    display: block;   
    position: absolute;
    background-color: white;
}
nav > ul > li > ul { /* para que que los sub menu tenga el mismo ancho*/
    width: 19%; 
}
nav a:hover {
    color: #3964AF;
    background: rgb(227, 227, 255);
    animation: 1s ms 1;
} 
@keyframes ms {
    0%{
        opacity: 0;
        transform: scale(1.6);

    }
/*Fin*/

}





 /* (div)CAJA PRINCIPAL*/                      /* CAJA PRINCIPAL2*/                                                            
 #contenedor2 {
     padding: 100px 0 0 0;
    text-align: center;
	width: 70%;
    margin:0px auto;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

 /*Inicio*/                                       /*CABESERA*/                                         
header{
    width: 100%;
	height: 500px;
}
header img.banner {
	width: 100%;
	height: 500px;
	vertical-align: bottom;
}/*FIN*/






                                          /*PRIMERA IMAGEN A LA IZQUIERDA
((aside) caja principal)*/
aside {/*Inicio*/
	width: 50%;


	background-color:white;
  
}

aside img {
    width: 100%;
   
    vertical-align: bottom;

 
   
    
}/*fin*/


                                           /*SEGUNDA IMAGEN A LA DERECHA
((section) Caja Principal)*/
section{/*Inicio*/
	width: 50%;

	background-color:white;
  
}
section img{
    width: 100%;
 
    vertical-align: bottom;

 
}/*FIN*/



                                            
/*COSTRA SIERRA SELVA*/
/*INICIO*/
.csv1{ 
    text-align: center;
	width: 100%;
	height: 500px;
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.publicidad1{
	width: 20%;
  
}
.img-publcidad1{	
	width: 100%;
	height: 500px;
}
.csv-costa{
	width: 60%;
	height: 500px;
background-color: #232E7C;
border: 2px solid orangered;
 }
 .img-costa{
	width: 100%;
	height: 83.8%;
	border: 2px solid orangered;

}
.publicidad2{
	width: 20%;
	height: 100%;

}


.csv2{
    text-align: center;
	width: 100%;
	height: 500px;
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.publicidad3{
	width: 20%;
  
}
.img-publcidad3{	
	width: 100%;
	height: 500px;
}
.csv-sierra{
	width: 60%;
	height: 500px;
background-color: #232E7C;
border: 2px solid orangered;
 }
 .img-sierra{
	width: 100%;
	height: 83.8%;
	border: 2px solid orangered;

}
.publicidad4{
	width: 20%;
	height: 100%;

}

.csv3{ 
    text-align: center;
	width: 100%;
	height: 500px;
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.publicidad5{
	width: 20%;
  
}
.img-publcidad5{	
	width: 100%;
	height: 500px;
}
.csv-selva{
	width: 60%;
	height: 500px;
background-color: #232E7C;
border: 2px solid orangered;
 }
 .img-selva{
	width: 100%;
	height: 83.8%;
	border: 2px solid orangered;

}
.publicidad6{
	width: 20%;
	height: 100%;

}
/*FIN*/



                                                /* PORQUE CONFIAR EN NOSOTROS?
((section) caja principal)
(section = .confiar)*/
.confiar{/*Inicio*/
    width:  100%;
    height: 100%;
	background-color: #232E7C;
    margin: 10px auto;
}
.confiar-img{
    width:  10%;
    height: 10%;
    margin: 5px auto; 
    border: 1px solid black;
}
.confiar h1{
    padding: 30px;  
    color: white;
} /*FIN*/                                                                    


                                             /*COMENTARIOS de ¿Por que confiar en nosotros?.
((section) caja principal)
(section=.comentarios)*/                                                                
.comentarios{/*INICIO*/ 
    width: 100%;
	background-color:white ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
 
    
}
.subcomentarios{
    width: 33.333%;
	background-color:white;
    margin: 5px 0px;
    padding: 0px;
}
.img-subc{
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
.h1-comen{
    color: #232E7C;
}
.p-subc{
    color: #232E7C;
    text-align: left;
    margin: 10px 10px;
}

/*FIN*/  
 
                                                    /* RESTAURANTE DEL DIA Y MAPA
((section) caja principal)
section = .delDia
IniciO*/
.delDia{
    width: 100%;
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  
}
.subdelDia{
    width: 33.333%;
	background-color:white;
    margin: 5px 0px;
    text-align: center;
   
 

}
.img-delDia{
    width: 100%;
    height: 400px;

}
.estrella{
    color: orange;
    font-size: 50px;
}
.mapa{
    margin-top: 65px;
    margin-bottom: 20px;
 
    
}/*FIN*/

                                                     /*VIDEOS RECOMENDADOS(titulo)
div=.videoRecomendado*/
.videoRecomendado{/*INICIO*/
    margin: 10px auto;
    width:  100%;
    height: 100%;  
}
.h1-vc{
    padding: 15px;
}/*FIN*/




                                                          /*LOS VIDEOS RECOMENDADOS
section=Caja Principal
(section=videoTextoBoton)
INICIO*/
.videoTextoBoton{
    width: 100%;
	background-color:white ;
	margin: 1px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.vtb{
    width: 33.333%;
	background-color:white;
    margin: 5px 0px;
    padding: 0px;  
}









































/*BOTON DE NEON*/ 
/*INICIO*/
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: red;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid black;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #412a47, 0 0 40px #a945c7,0 0 80px #a945c7;
    transition-delay: 1s;
     }
.btn-neon span {
         position: absolute;
         display: block;
     }
#span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
/*FIN*/












  



